body {
	overflow-x: hidden;
	padding: 0px;
}

.footer {
	position: inherit;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	background-color: #808080;
	color:#fff;
	padding: 20px;
}
.footer > p {
	margin: 0px;
}
.jumbotron {
	text-align: center;
	background: white !important;
}
ul {
	list-style-type: none !important;
	padding: 0px !important;
}

.btn > a {
	color: white;
}
